/* Resetting settings */
*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(237, 237, 237);
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    display: block;
    text-align: center;
    color: rgb(15, 59, 168);
}
.topTitle{
    font-family: 'Times New Roman', Times, serif;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    padding: 4px;
    border-radius:2px 2px;
    background-color: rgb(45, 126, 255);
}
.underContainer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5px;
}
i{
  font-size: 50px;
  color: rgb(45, 126, 255);
}
.icons{
    text-align: center;
    margin: 20px;
}
.description{
margin-top: 10px;
}